* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    border: 1px solid #03a83a;
    background-image: linear-gradient(#081A78,#50CF8F);

    color: #fff;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    width: 100%;
}

.main-content {
    border: 1px solid cyan;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.main-content h1{
    font-size: 3rem;
margin-bottom: 2rem;
text-shadow: 1px 0 3px #000;
}
.counter {
    border: 1px solid cyan;
    background-color: #fff;
    border-radius: 1rem;
    color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 6rem 8rem; */
    position: relative;
    margin: auto;
    width: 50%;
    min-width: 16rem;
    max-width: 26rem;
    padding: 8rem 0;
}

.counter span{
    display: block;
    font-size: 4rem;
    font-weight: 500;
}

.counter button {
    border: 1px solid royalblue;
    outline: none;
    border-radius: 50%;
    background-color: #fff;
    /* padding: 1rem; */
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    position: absolute;
    right: 0;
    bottom: 0;
}

.btn.increase{
    transform: translate(1.5rem, -4rem);
}

.btn.decrease{
    transform: translate(-4rem, 1.5rem);
}

.btn.reset{
    transform: translate(1.5rem, 1.5rem);
}
/* @media screen and (min-width:1024px){
    .counter{
        /* padding: 10rem 0;
    }
} */