* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    background-image: linear-gradient(#081A78, #50CF8F);
    color: #fff;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    width: 100%;
}

.main-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-content h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-shadow: 1px 0 3px #000;
}

.counter {
    background-color: #fff;
    border-radius: 1rem;
    color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    width: 50%;
    min-width: 16rem;
    max-width: 26rem;
    padding: 8rem 0;
}

.counter span {
    color: #888888;
    display: block;
    font-size: 4rem;
    font-weight: 500;
}

.counter button {
    border: 1px solid rgb(146, 146, 146);
    outline: none;
    border-radius: 50%;
    background-color: #fff;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    position: absolute;
    right: 0;
    bottom: 0;
}

.btn.increase {
    transform: translate(1.5rem, -4rem);
}

.btn.decrease {
    transform: translate(-4rem, 1.5rem);
}

.btn.reset {
    transform: translate(1.5rem, 1.5rem);
}
.attribution-footer{
    background-color: #fff;
    color: #03a83a;
    padding: .5rem 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
}
.attribution-footer a{
    color: #081A78;
    font-weight: 700;
    transition: color .5s;
}
.attribution-footer a:hover{
    color: #1939d8;
}
.attribution-footer a:active{
    color: #081A78;
}
/* @media screen and (min-width:1024px){
    .counter{
        /* padding: 10rem 0;
    }
} */